@import '../../../styles/variables.scss';

.div{
    background-color: #1A1A1A;
    padding: 90px 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-block: 6em;
    gap: 2rem;
    width: clamp(10em,90%,120em);
    
    div &:nth-child(1){
        > div:nth-child(1){
            background-color: blue;
            width: 90%;
            height: 20em;
            border-radius: 1em;
        }
    }

    > div:nth-child(2){
        display: flex;
        width: 90%;
        gap: 2rem;
    }
}

.secondDiv,.thirdDiv{
    box-shadow: 0 4px 16px black;
    height: 20em;
}
.firstDiv{
    width: 76%;
    height: fit-content;
    border-radius: 15px;
    background-color: red;
}
.secondDiv{
    display: flex;
    justify-content: flex-end;
    width: 65%;
    background-color: #867575;
    background-size: contain;
    background-position: 50% 10%;
    background-image: url('../../../../public/images/ipad.webp');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-sizing: border-box;
    padding-right: 3em;
    padding-top: 4em;

    h1{
        font-weight: bold;
        font-style: italic;
        font-size: 3.5em;
    }
}
.thirdDiv{
    display: flex;
    align-items: center;
    width: 35%;
    padding: 30px 40px;
    background-color: white;
    border-radius: 15px;
}
.h1{
    font-size: 50px;
    font-weight: 600;
}
@media (max-width:1760px) {
    .main{
        > div:nth-child(2){
            flex-direction: column;
            width: 90%;
            gap: 2rem;
        }
    }
    .secondDiv{
        padding: 2em clamp(1rem,2vw,8rem);
        background-size: 60%;
    }
    .secondDiv > h1{
        font-size: clamp(1em,4.2vw,8em);
    }
    .thirdDiv > h1{
        font-size: clamp(1em,6vw,3em);
    }
    .secondDiv,
    .thirdDiv{
        width: 100%;
        height: auto;
        min-height: 6em;
    }
}