@import '../../../styles/variables.scss';

.div{
    background-color: #1A1A1A;
    padding: 90px 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding:60px;
    gap: 2rem;
    width: 90%;
}
.secondDiv,.thirdDiv{
    box-shadow: 0 4px 16px black;
    height: 233px;
}
.firstDiv{
    width: 76%;
    height: fit-content;
    border-radius: 15px;
}
.imgContainer{
    height: 400px;
    width: 800px;
    border-radius: 15px;
}
.img{
    height: 100%;
    border-radius: 15px;
    
}
.secondDiv{
    width: 65%;
    background-size: 110%;
    background-position: 50% 10%;
    background-image: url('../../../../public/images/ipad.jpg');
    border-radius: 15px;
}
.thirdDiv{
    width: 35%;
    padding: 30px 40px;
    background-color: white;
    border-radius: 15px;
}
.h1{
    font-size: 50px;
    font-weight: 600;
}