@import '../../../styles/variables.scss';

.SidePanel{
    width: 35%;
    height: 92vh;
    box-sizing: border-box;
}
.SearchTab{
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.Location{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.label{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 13px;
    color:rgb(99, 99, 99);
    font-weight: 600;
}

.Results__container{
    position: absolute;
    margin-top: .3em;
    top: 100%;
    width: 20em;
    height: fit-content;
    border-radius: 15px;
    z-index: 999999;
}

@keyframes hide {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        display: block;
    }
}

.show{
    animation: show .3s alternate
}
.hidden{
    display: none;
}
.Location__text{
    width: 16rem;
}
.Date__input{
    width: 9rem;
}
.Persons__input{
    width: 4rem;
}
.Location__text,
.Date__input,
.Persons__input{
    background-color: rgb(219, 219, 219);
    height: 1.3rem;
    border-radius: 20px;
    border: none;
    padding: 15px;
    font-size: .85rem;
}
.CheckInText,.TotalText:focus{
    outline: none;

}
.SubmitButton{
    border-radius: 20px;
    align-self: end;
    font-size: 1rem;
    color: white;
    background-color: $brand-primary;
    border: none;
    height: fit-content;
    padding: 5px 30px;
}
.SubmitButton:active{
    background-color: #444343;
}
.FilterButton{
    padding:0 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
}
.FilterButton:active{
    background-color: rgb(190, 190, 190);
}
.ul{
    justify-content: space-between;
    list-style: none;
    padding:0;
    margin: 0;
}
.HotelScroll{
    width:100%;
    height:65%;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
    overflow-y: scroll;
}
.HotelScroll::-webkit-scrollbar{
    background-color: whitesmoke;
    width: 10px;
    scroll-behavior: auto;

}
.HotelScroll::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.8);
    border-radius: 20px;
}