@import '../../../styles/variables.scss';

.card{
    scroll-snap-align: start;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 207, 212);
}
.selected{
    opacity: 1;
    background-color: rgb(219, 219, 219);
    transition: all .3s;
}
.card_right,
.card_left{
    width: fit-content;
}
.card_left{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    > img{
        background-size: cover;
        border-radius: 1rem;
    }
}
.hotel_name{
    margin: 0;
    font-size: clamp(.8rem, 1vw, 1rem);
    width: clamp(9rem, 8vw, 12rem);
    font-weight: 600;
}

.hotel_location{
    font-weight: 100;
    font-size: .6rem;
    bottom: 40%;
}
.card_right{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
}
.hotel_rating{
    display: grid;
    place-content: center;
    color: white;
    background-color:$brand-primary;
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
}
.hotel_nights{
    margin: 0;
    font-size: 12px;
    color: grey;
}
.hotel_pricing{
    font-weight: bold;
    text-align: end;
}
@media (max-width:1115px){
    .hotel_name,
    .hotel_location{
        width: clamp(8rem,40vw,18rem);
        font-size: clamp(.7rem,2vw,1rem);
    }

}
@media (max-width: 446px) {
    .card_left {
        img {
            width: clamp(3rem, 22vw, 7rem);
            height: clamp(3rem, 13vh, 7rem);
        }
    }
}
