@import '../../../styles/variables.scss';

.card{
    background-color: white;
    padding: 20px;
    display: flex;
    border-top: 1px solid rgb(207, 207, 212);
}
.card_left,.card_right{
    width: 50%;
}
.card_left{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.hotel_name{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.hotel_location{
    font-weight: 100;
}
.card_right{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
}
.hotel_rating{
    color: white;
    background-color:$brand-primary;
    padding:5px;
    border-radius: .5rem;
}
.hotel_nights{
    margin: 0;
    font-size: 12px;
    color: grey;
}
.hotel_pricing{
    font-weight: bold;
    text-align: end;
}
.hotel_availability{
    border: none;
    padding: 2px 20px;
    border-radius: .5rem;
    color: white;
    background-color: $brand-primary;
}