@import '../../styles/variables.scss';

.nav{
    display: flex;
    justify-content: space-between;
    background-color: $brand-primary;
    width:97%;
    height:fit-content;
    color:white;
    margin:auto;
    padding:5px 60px;
    border-radius: 0 0 30px 30px;
}
.imgContainer{
    position: relative;
}
.img{
    position:absolute;
    top: -60px;
    width: auto;
    height: 160px;
    clip: rect(60px, 170px, 100px, 0);
}
.div{
    display: flex;
    align-items: center;
    gap:40px;
}
.ul{
    display: flex;
    list-style: none;
    gap:40px;
    padding:10px;
    margin:0;
}